main.contact {
  text-align: center;
  #social-links {
    // text-align: center;
    margin-bottom: 1em;
    svg {
      // fill: #fff;
      width: 42px;
    }
  }
  #social-links a,
  #social-links a:visited {
    border: none;
    box-shadow: none;
    padding: 0.33em;
    font-size: 2em;
    &:hover {
      background: none;
    }
  }
  @media screen and (max-width: 360px) {
    #social-links a {
      font-size: 1.5em;
    }
  }
}

body.dark main.contact svg {
  fill: #fff;
}

body.light main.contact svg {
  fill: #000;
}

.line {
  display: block;
  border-top: 0.33rem solid #fff;
  margin: 3rem auto;
  width: 7rem;
}
