main.contact {
  text-align: center;
  #social-links {
    margin-bottom: 1em;
    svg {
      width: 42px;
    }
  }
  #social-links a {
    border: none;
    box-shadow: none;
    padding: 0.5rem;
    // font-size: 1rem;
    &:hover {
      background: none;
    }
  }
}

body.dark main.contact svg {
  fill: #fff;
}

body.light main.contact svg {
  fill: #000;
}
