.arrow {
  width: 42px;
  justify-self: center;
  text-align: center;
  margin: 0;
  align-self: center;
  background: none;
  border: none;
  outline: none;
  fill: #777;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.full-page {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
}

#home {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
  -webkit-scroll-snap-type: mandatory;
  p {
    max-width: 800px;
    margin: 1em auto;
    font-size: 1.1rem;
  }

  > div {
    scroll-snap-align: start;
    -webkit-scroll-snap-coordinate: 0% 0%;
  }
  #hello {
    grid-template-rows: 3fr 2fr 3fr;
    cursor: pointer;
  }
  h1.hero {
    margin: 0;
    margin-top: 3rem;
    align-self: end;
    font-size: 72px;
  }
  #bio {
    cursor: pointer;
  }
}

@media screen and (max-width: 500px) {
  #home {
    h1.hero {
      font-size: 20vw;
    }
    p {
      font-size: 5vw;
    }
    #bio {
      padding-top: 3rem;
    }
  }
}

body.dark #home {
  #hello {
    background: #111;
    h1.hero {
      $base-shadow-color: #378ab4;
      text-shadow: 0 1px 0px $base-shadow-color,
        1px 0 0px lighten($base-shadow-color, 10%),
        1px 2px 1px $base-shadow-color, 2px 1px 1px $base-shadow-color,
        2px 3px 2px $base-shadow-color,
        3px 2px 2px lighten($base-shadow-color, 10%);
    }
  }
  #bio {
    background: #111;
    background: -webkit-linear-gradient(to top, #0a1b43, #111);
    background: linear-gradient(to top, #0a1b43, #111);
  }
}

body.light #home {
  #hello {
    h1.hero {
      $base-shadow-color: #777;
      text-shadow: 0 1px 0px $base-shadow-color,
        1px 0 0px lighten($base-shadow-color, 10%),
        1px 2px 1px $base-shadow-color, 2px 1px 1px $base-shadow-color,
        2px 3px 2px $base-shadow-color,
        3px 2px 2px lighten($base-shadow-color, 10%);
    }
  }
  #bio {
    background: #1b73bb;
    background: -webkit-linear-gradient(to top, #1b73bb, #cfd8dc);
    background: linear-gradient(to top, #1b73bb, #cfd8dc);
  }
}
