.arrow {
  width: 42px;
  justify-self: center;
  text-align: center;
  margin: 0;
  // margin-top: 5rem;
  align-self: center;
  background: none;
  border: none;
  outline: none;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.full-page {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
}

#home {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
  -webkit-scroll-snap-type: mandatory;
  p {
    max-width: 800px;
    margin: 1em auto;
    font-size: 1.1rem;
  }

  > div {
    scroll-snap-align: start;
    -webkit-scroll-snap-coordinate: 0% 0%;
  }
  #hello {
    grid-template-rows: 3fr 2fr 3fr;
    cursor: pointer;
  }
  h1.hero {
    margin: 0;
    margin-top: 3rem;
    align-self: end;
    font-size: 72px;
  }
  #bio {
    cursor: pointer;
  }
}

@media screen and (max-width: 500px) {
  #home {
    h1.hero {
      font-size: 20vw;
    }
    p {
      font-size: 5vw;
    }
  }
  // #bio {
  //   p:first-child {
  //     margin-top: 0;
  //   }
  // }
}

body.dark #home {
  #hello {
    background: #111;
    // h1.hero {
    //   text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4,
    //     2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd;
    // }
    h1.hero {
      $base-shadow-color: #378ab4;
      text-shadow: 0 1px 0px $base-shadow-color,
        1px 0 0px lighten($base-shadow-color, 10%),
        1px 2px 1px $base-shadow-color, 2px 1px 1px $base-shadow-color,
        2px 3px 2px $base-shadow-color,
        3px 2px 2px lighten($base-shadow-color, 10%);
    }
    .arrow {
      fill: #d0d0d0;
    }
  }
  #bio {
    background: #111;
    background: -webkit-linear-gradient(to top, #0a1b43, #111);
    background: linear-gradient(to top, #0a1b43, #111);
  }
}

body.light #home {
  #hello {
    background: #cfd8dc;

    h1.hero {
      color: #455a64;
      $base-shadow-color: #b3a99d;
      text-shadow: 0 1px 0px $base-shadow-color,
        1px 0 0px lighten($base-shadow-color, 10%),
        1px 2px 1px $base-shadow-color, 2px 1px 1px $base-shadow-color,
        2px 3px 2px $base-shadow-color,
        3px 2px 2px lighten($base-shadow-color, 10%);
    }
    .arrow {
      fill: #79878c;
    }
  }
  #bio {
    // background: #b0bec5;
    // background: #8bbad0;
    // background: #c7c2ba;
    // background: #9fb3df;
    background: #bfae99;

    background: #cfd8dc;
    background: -webkit-linear-gradient(to top, #6697cc, #cfd8dc);
    background: linear-gradient(to top, #6697cc, #cfd8dc);
  }
}
