.full-page {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
}

#home {
  p {
    max-width: 800px;
    margin: 1em auto;
    font-size: 1.1rem;
  }
  #hello {
    min-height: 100vh;
    min-width: 100vw;
    padding: 2rem;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    grid-template-rows: 1fr 1fr 1fr 1rem;

    svg {
      fill: #fff;
      width: 2.2rem;
      margin: 0 1rem;
    }
  }
  h1.hero {
    margin: 0;
    align-self: end;
    font-size: 72px;
  }
  button {
    justify-self: center;
    height: 3rem;
    max-width: 10rem;
  }
}

@media screen and (max-width: 500px) {
  #home {
    h1.hero {
      font-size: 20vw;
    }
    p {
      font-size: 5vw;
    }
    #bio {
      padding-top: 3rem;
    }
  }
}

body.dark #home {
  #hello {
    background: #111;
    h1.hero {
      $base-shadow-color: #378ab4;
      text-shadow: 0 1px 0px $base-shadow-color,
        1px 0 0px lighten($base-shadow-color, 10%),
        1px 2px 1px $base-shadow-color, 2px 1px 1px $base-shadow-color,
        2px 3px 2px $base-shadow-color,
        3px 2px 2px lighten($base-shadow-color, 10%);
    }
    .arrow {
      fill: #d0d0d0;
    }
  }
  #bio {
    background: #111;
    background: -webkit-linear-gradient(to top, #0a1b43, #111);
    background: linear-gradient(to top, #0a1b43, #111);
  }
}

body.light #home {
  #hello {
    h1.hero {
      $base-shadow-color: #777;
      text-shadow: 0 1px 0px $base-shadow-color,
        1px 0 0px lighten($base-shadow-color, 10%),
        1px 2px 1px $base-shadow-color, 2px 1px 1px $base-shadow-color,
        2px 3px 2px $base-shadow-color,
        3px 2px 2px lighten($base-shadow-color, 10%);
    }
  }
  #bio {
    background: #1b73bb;
    background: -webkit-linear-gradient(to top, #1b73bb, #cfd8dc);
    background: linear-gradient(to top, #1b73bb, #cfd8dc);
  }
}
