body {
  a.blog-post-summary {
    display: block;
    h1 {
      transition: all 0.5s;
    }
  }
}

body.dark {
  background: #222;
  color: #fff;
  $link: #00ffd5;

  a.blog-post-summary {
    color: #fff;
    time {
      color: #d0d0d0;
    }
    h1 {
      color: #03a9f4;
    }
    &:hover {
      h1 {
        color: $link;
      }
    }
  }
}

body.light {
  background: #fff;
  color: #000;
  a.blog-post-summary {
    time {
      color: #333;
    }
    p {
      color: #000;
    }
    &:hover {
      h1 {
        color: #009688;
      }
    }
    // h1 {
    //   color: #03a9f4;
    // }
    // &:hover {
    //   h1 {
    //     color: #2de5b7;
    //   }
    // }
  }
}

hr {
  background: #555;
}

footer {
  clear: both;
}
