#projects {
  color: #fff;
  a {
    box-shadow: none;
  }
  p {
    a {
      $link: #00ffd5;
      padding: 0.33rem;
      // margin: 0 0.1em;
      color: $link;
      $link-bg: rgba(31, 87, 117, 0.5);
      background: $link-bg;
      transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
      &:hover {
        background: lighten($link-bg, 15%);
      }
    }
  }
  ul {
    margin: 0 auto;
    max-width: 1200px;
    a {
      display: block;
      color: #fff;
      img {
        margin-bottom: 1rem;
      }
      span.project-title {
        display: block;
        font-size: 1.1rem;
        font-family: sans-serif;
      }
    }
  }
}

#projects {
  display: block;
  padding: 0;
  padding-top: 7em;
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 3em;
  background: #0d47a1; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #bf8640,
    #0d47a1
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #bf8640,
    #0d47a1
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    li {
      list-style: none;
      margin: 1em;
      cursor: pointer;
    }
  }
  footer {
    margin: 3em auto;
  }
}

@media (max-width: 800px) {
  #projects {
    p {
      padding: 0 1em;
    }
  }
}
