nav {
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  a {
    box-shadow: none;
    text-decoration: none;
    color: inherit;
  }
  div {
    a {
      padding-left: 1em;
    }
  }
}
