// nav * {
//   outline: 1px solid #0ff;
// }

nav {
  color: #fff;
  position: fixed;
  // font-size: 1.2em;
  background: #333;
  top: 0;
  left: 0;
  right: 0;
  // z-index: 5;
  // @include transition(transform 0.5s);

  div {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  #navbar-title {
    padding: 0.5em 0;
    float: left;
    color: #fff;
    text-decoration: none;
  }

  button {
    display: none;
  }

  a {
    color: #fff;
    box-shadow: none;
  }

  // span {
  //   display: none;
  //   // a {
  //   //   color: #fff;
  //   //   text-decoration: none;
  //   // }
  // }

  ul {
    // position: absolute;
    // right: 0;
    text-align: left;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      margin: 0;
      a,
      button {
        padding: 0.5em 1em;
        display: block;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
      }
      button {
        position: relative;
        top: 2px;
        // padding: 0;
      }
    }
  }

  // .content {
  //   color: #dadada;
  //   margin: 7em auto;
  // }
}

@media screen and (max-width: 600px), screen and (max-height: 500px) {
  nav {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    .container {
      max-width: 100%;
      padding: 0;
    }

    #navbar-title {
      margin: 0 1em;
    }

    button {
      // position: absolute;
      display: block;
      cursor: pointer;
      background: none;
      outline: none;
      border: none;
      // right: 0;
    }

    span {
      display: block;
      // position: absolute;
      // right: 0;
      // top: 0.6em;
      width: 1em;
      height: 3px;
      background-color: #fff;
      margin: 1em;
    }

    span::before {
      display: block;
      position: absolute;
      background-color: #fff;
      content: "";
      width: 1em;
      height: 3px;
      transform: translateY(-0.33em);
    }

    span::after {
      display: block;
      position: absolute;
      background-color: #fff;
      content: "";
      width: 1em;
      height: 3px;
      transform: translateY(0.33em);
    }

    ul {
      position: static;
      clear: both;
      width: 100%;
      margin: 0;

      li {
        display: block;
        button {
          width: 100%;
          text-align: left;
        }
        a:hover,
        a:focus,
        a:active,
        button:hover,
        button:focus,
        button:active {
          background-color: #3b414e;
        }
      }
    }
    &.menu-closed ul {
      display: none;
    }

    &.menu-open ul {
      display: block;
    }

    &.menu-open span {
      background-color: transparent;
    }

    &.menu-open span::before {
      transform: rotate(45deg);
    }
    &.menu-open span::after {
      transform: rotate(-45deg);
    }
  }

  #navbar-title::selection {
    background: transparent;
  }
  #navbar-title::-moz-selection {
    background: transparent;
  }
}
