body.light nav {
  background: rgba(207, 216, 220, 0.75);
  &#navbar.menu-open {
    background: rgba(207, 216, 220, 0.9);
  }

  color: #333;
  fill: #333;
  stroke: #333;
  a,
  #navbar-title {
    color: inherit;
  }
  #moon {
    fill: none;
  }
  &.light-text {
    background: rgba(17, 17, 17, 0.5);
    a,
    #navbar-title {
      color: #fff;
    }
    svg {
      fill: #fff;
      stroke: #fff;
    }
  }
}

body.dark nav {
  background: rgba(17, 17, 17, 0.5);
  &.menu-open {
    background: rgba(17, 17, 17, 0.9);
  }
  a,
  #navbar-title {
    color: #fff;
  }
  svg {
    fill: #fff;
  }
}

nav {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  touch-action: manipulation;
  z-index: 42;
  transform: translateZ(0);
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);

  &.is-hidden {
    transform: translateY(-100%);
  }
  > div {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  #navbar-title {
    padding: 0.5rem 0;
  }

  button {
    touch-action: manipulation;
    display: none;
    padding: 0 1rem;
    line-height: 0;
  }

  a {
    font-size: 1.1rem;
    box-shadow: none;
  }

  svg {
    width: 1.3rem;
    height: 1.3rem;
    &#moon {
      stroke-width: 2.2rem;
    }
  }

  ul {
    text-align: left;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

    li {
      display: inline-block;
      margin: 0;
      a,
      button {
        padding: 0.5rem;
        display: block;
        cursor: pointer;
      }
      button {
        background: none;
        border: none;
        outline: none;
        padding: 0.5rem;
        display: flex;
      }
    }
  }
  a::selection {
    background: transparent;
  }
}

@media screen and (max-width: 600px), screen and (max-height: 500px) {
  nav {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    .container {
      max-width: 100%;
      padding: 0;
    }

    #navbar-title {
      margin: 0 1rem;
    }

    button {
      display: block;
      cursor: pointer;
      background: none;
      outline: none;
      border: none;
    }

    ul {
      display: none;
      position: static;
      clear: both;
      width: 100%;
      margin: 0;

      li {
        display: block;
        a {
          padding: 0.5rem 1rem;
        }
        button {
          width: 100%;
          text-align: left;
        }
      }
    }

    &.menu-open ul {
      display: block;
    }
  }
}
