// nav * {
//   outline: 1px solid #0ff;
// }
body.light nav {
  background: #d0d0d0;
  // background: rgba(96, 125, 139, 0.5);
  background: rgba(151, 170, 180, 0.85);
  a,
  #navbar-title {
    color: #333;
  }
  svg {
    fill: #333;
  }
}

body.dark nav {
  background: #333;
  // background: rgba(96, 125, 139, 0.5);
  background: rgba(65, 79, 87, 0.85);
  a,
  #navbar-title {
    color: #fff;
  }
  svg {
    fill: #fff;
  }
}

nav {
  color: #fff;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  z-index: 42;
  transform: translateZ(0);
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);

  &.is-hidden {
    transform: translateY(-100%);
  }

  // transition: transform 0.5s;
  // @include transition(transform 0.5s);
  > div {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  #navbar-title,
  .breadcrumb-path {
    padding: 0.5em 0;
  }

  button {
    display: none;
    padding: 0 1em;
    line-height: 0;
  }

  a {
    font-size: 1.1em;
    box-shadow: none;
  }

  svg {
    width: 1.1em;
    height: 1.1em;

    &#sun {
      fill: #ffa726;
      stroke: #ff5722;
      stroke-width: 11;
    }
    &#moon {
      fill: #ffcc80;
      stroke: #000;
      stroke-width: 11;
    }
  }

  ul {
    // position: absolute;
    // right: 0;
    text-align: left;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

    li {
      display: inline-block;
      margin: 0;
      a,
      button {
        padding: 0.5em;
        display: block;
        cursor: pointer;
      }
      button {
        background: none;
        border: none;
        outline: none;
        // padding-left: 0;
        // padding-right: 0;
        padding: 0.5em;
        display: flex;
      }
    }
  }
  a::selection {
    background: transparent;
  }
}

@media screen and (max-width: 600px), screen and (max-height: 500px) {
  nav {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    .container {
      max-width: 100%;
      padding: 0;
    }

    #navbar-title,
    .breadcrumb-path {
      margin: 0 1em;
    }

    button {
      // position: absolute;
      display: block;
      cursor: pointer;
      background: none;
      outline: none;
      border: none;
      // right: 0;
    }

    ul {
      display: none;
      position: static;
      clear: both;
      width: 100%;
      margin: 0;

      li {
        display: block;
        a {
          padding: 0.5em 1em;
        }
        button {
          width: 100%;
          text-align: left;
          // padding: 0.5em 1em;
        }
        a:hover,
        a:focus,
        a:active,
        button:hover,
        button:focus,
        button:active {
          background-color: #3b414e;
        }
      }
    }
    // &.menu-closed ul {
    //   display: none;
    // }

    &.menu-open ul {
      display: block;
    }
  }
}
