div#title-link {
  text-align: center;
  margin: 2rem 0;
  h2 {
    margin-bottom: 1.5rem;
  }
  a.github {
    svg {
      margin-left: 0.5rem;
    }
  }
  a {
    display: inline-block;
    padding: 0.33em;
    border-radius: 0.11em;
    box-shadow: none;
    padding: 0.33rem 0.5rem;
    border-bottom: none;

    body.dark & {
      color: #fff;
      fill: #fff;
      background-color: #233544;
      box-shadow: 3px 3px #3b556b;
      &:hover {
        background: #009688;
      }
      &:active {
        transform: translate(2px, 2px);
        box-shadow: 1px 1px #3b556b;
      }
    }
    body.light & {
      color: #000;
      fill: #000;
      background-color: #bbcecd;
      box-shadow: 3px 3px #8e8e8e;
      &:hover {
        background: #71b7b2;
      }
      &:active {
        transform: translate(2px, 2px);
        box-shadow: 1px 1px #8e8e8e;
      }
    }

    svg {
      width: 1rem;
      height: auto;
    }
  }
}
