/*

Name:       Base16 Atelier Lakeside Dark
Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/lakeside/)

Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/
body.dark {
  $base00: scale-color(#09151b, $hue: 0, $saturation: 0, $lightness: 0);
  $base01: scale-color(#1f292e, $hue: 0, $saturation: 0, $lightness: 0);
  $base02: scale-color(#516d7b, $hue: 0, $saturation: 0, $lightness: 0);
  $base03: scale-color(#5a7b8c, $hue: 0, $saturation: 0, $lightness: 0);
  $base04: scale-color(#7195a8, $hue: 0, $saturation: 0, $lightness: 0);
  $base05: scale-color(#7ea2b4, $hue: 0, $saturation: 0, $lightness: 50%);
  $base06: scale-color(#c1e4f6, $hue: 0, $saturation: 0, $lightness: 0);
  $base07: scale-color(#ebf8ff, $hue: 0, $saturation: 0, $lightness: 0);
  $base08: scale-color(#d22d72, $hue: 0, $saturation: 0, $lightness: 0);
  $base09: scale-color(#935c25, $hue: 0, $saturation: 25%, $lightness: 25%);
  $base0a: scale-color(#8a8a0f, $hue: 0, $saturation: 50%, $lightness: 50%);
  $base0b: scale-color(#568c3b, $hue: 0, $saturation: 25%, $lightness: 25%);
  $base0c: scale-color(#2d8f6f, $hue: 0, $saturation: 25%, $lightness: 25%);
  $base0d: scale-color(#257fad, $hue: 0, $saturation: 0, $lightness: 0);
  $base0e: scale-color(#5d5db1, $hue: 0, $saturation: 50%, $lightness: 50%);
  $base0f: scale-color(#b72dd2, $hue: 0, $saturation: 0, $lightness: 0);

  code[class*="language-"],
  pre[class*="language-"] {
    font-family: Menlo, Monaco, "Andale Mono WT", "Andale Mono",
      "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
      "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
      "Courier New", Courier, monospace;
    // font-size: 14px;
    line-height: 1.375;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    background: $base00;
    color: $base05;
  }

  pre[class*="language-"]::-moz-selection,
  pre[class*="language-"] ::-moz-selection,
  code[class*="language-"]::-moz-selection,
  code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: $base04;
  }

  pre[class*="language-"]::selection,
  pre[class*="language-"] ::selection,
  code[class*="language-"]::selection,
  code[class*="language-"] ::selection {
    text-shadow: none;
    background: $base04;
  }

  /* Code blocks */
  pre[class*="language-"] {
    padding: 2em;
    margin: 0.5em 0;
    overflow: auto;
  }

  /* Inline code */
  :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    // border-radius: 0.3em;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: $base03;
  }

  .token.punctuation {
    color: $base05;
  }

  .token.namespace {
    opacity: 0.7;
  }

  .token.operator,
  .token.boolean,
  .token.number {
    color: $base09;
  }
  .token.property {
    color: $base0a;
  }
  .token.tag {
    color: $base0d;
  }
  .token.string {
    color: $base0c;
  }
  .token.selector {
    color: $base0e;
  }
  .token.attr-name {
    color: $base09;
  }
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    color: $base0c;
  }

  .token.attr-value,
  .token.keyword,
  .token.control,
  .token.directive,
  .token.unit {
    color: $base0b;
  }

  .token.statement,
  .token.regex,
  .token.atrule {
    color: $base0c;
  }

  .token.placeholder,
  .token.variable {
    color: $base0d;
  }

  .token.deleted {
    text-decoration: line-through;
  }

  .token.inserted {
    border-bottom: 1px dotted $base07;
    text-decoration: none;
  }

  .token.italic {
    font-style: italic;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }

  .token.important {
    color: $base08;
  }

  .token.entity {
    cursor: help;
  }

  pre > code.highlight {
    outline: 0.4em solid $base08;
    outline-offset: 0.4em;
  }
}
